/*
  Custom styles for Trackster App
*/
html{
  font-size: 16px;
}

body{
  background-color: rgb(35, 2, 63);
}

.title{
  font-family: Righteous;
  font-size: 2.5rem;
  color: rgb(255, 0, 171);
}

.searchtext{
  font-size: 1.5rem;
  border-radius: 2rem;
  background-color: rbb(191, 191, 191);
}

.fa.fa-search{
    font-size: 2.5rem;
}

.bun{
  font-size: 2.5rem;
  border-radius: 1rem;
  font-size: 14px;
  background-color: rgb(255, 102, 204);
  text-align: center;
}
